<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>勝敗</th>
                <th>HS率</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="match : ${matchList}">
                <form method="get" th:action="@{/deleteMatch/{matchId}(matchId=${match.matchId})}">
                    <td th:text="${match.isWin ? '勝' : '負'}"></td>
                    <td th:text="${match.hsRate} + '%'" ></td>
                    <input type="hidden" name="dpiId" th:value="${dpiId}"/>
                    <td><button type="submit">削除</button></td>
                </form>
            </tr>
        </tbody>

    </table>



    <h3>戦績登録</h3>

    <form method="post" action="/editEdpi/{id}(id=${dpiId})">
        <label>勝敗
            <select name="winLose" id="winLose">
                <option value="">--勝敗を選んでください--</option>
                <option value="1">win</option>
                <option value="2">lose</option>
            </select>
        </label>
        <label>HS率
            <input type="number" min="0" max="100" id="hsRate" name="hsRate">
        </label>
        <input type="hidden" name="dpiId" th:value="${dpiId}">
        <button type="submit">登録</button>
    </form>
</body>
</html>