<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
</head>
<body>

    <div th:replace="header"></div>

    <form method="post" th:action="@{/editUser}" th:object="${MUser}">
        <label for="userName">名前
            <input type="text" id="userName" name="userName" th:value="*{userName}" th:field="*{userName}">
        </label>
        <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>

        <label for="email">メールアドレス
            <input type="email" id="email" name="email" th:value="*{email}" th:field="*{email}"/>
        </label>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        <input type="submit" value="送信"></input>
    </form>
</body>
</html>