<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>勝敗</th>
                <th>HS率</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="users : ${dpi}">
                <form method="get" th:action="@{/editEdpi/{id}(id=${users.dpiId})}">
                    <input type="hidden" id="dpiId" name="dpiId" th:value=${users.dpiId}/>
                    <td th:text="${users.sensitivity}"></td>
                    <td th:text="${users.dpi}"></td>
                    <td><button type="submit">編集</button></td>
                </form>
            </tr>
        </tbody>
    </table>



    <h3>戦績登録</h3>

    <form method="post" action="/editEdpi/{id}(id=${dpiId})">
        <label>勝敗
            <select name="win-lose" id="win-lose">
                <option value="">--勝敗を選んでください--</option>
                <option value="1">win</option>
                <option value="2">lose</option>
            </select>
        </label>
        <label>HS率
            <input type="number" min="0" max="100">
        </label>
        <button type="submit">送信</button>
    </form>
</body>
</html>