
<header class="header">
    
    <nav class="navbar">
        <div class="header-logo">
            <form method="get" th:action="@{/logout}">
                <button type="submit">ログアウト</button>
            </form>
        </div>

        <div class="header-logo">
            <form method="get" th:action="@{/editUser}">
                <button type="submit">プロフィール編集</button>
            </form>
        </div>

        <div class="header-logo">
            <form method="get" th:action="@{/login}">
                <button type="submit">ホーム画面</button>
            </form>
        </div>

    </nav>
</header>