<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div th:replace="header"></div>

    <h1 th:text="${name}"></h1>
    <h1 th:text="${email}"></h1>

    <table>
        <thead>
            <tr>
                <th>名前</th>
                <th>ゲーム内感度</th>
                <th>dpi</th>
                <th>edpi</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="users : ${rankings}">
                <td th:text="${users.name}"></td>
                <td th:text="${users.sensitivity}"></td>
                <td th:text="${users.dpi}"></td>
                <td th:text="${users.edpi}"></td>
            </tr>
        </tbody>
    </table>

    <form method="get" th:action="@{/editUser}">
        <button>プロフィール編集</button>
    </form>
</body>
</html>