<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div th:replace="header"></div>

    <table>
        <thead>
            <tr>
                <th>ゲーム内感度</th>
                <th>dpi</th>
                <th>戦績登録</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="users : ${dpi}">
                <form method="get" th:action="@{/editEdpi/{id}(id=${users.dpiId})}">
                    <td th:text="${users.sensitivity}"></td>
                    <td th:text="${users.dpi}"></td>
                    <td><button type="submit">編集</button></td>
                </form>
            </tr>
        </tbody>
    </table>

    <form method="get" th:action="@{/editUser}">
        <button>プロフィール編集</button>
    </form>
    <!-- edpiを追加するボタン作成-->
</body>
</html>