<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
</head>
<body>

    <div th:replace="header"></div>

    <h2 class="index-header">EDPI画面</h2>

    <table>
        <thead>
            <tr>
                <th>ゲーム内感度</th>
                <th>dpi</th>
                <th>勝率</th>
                <th>HS率</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dpis : ${dpiList}">
                <form method="get" th:action="@{/editEdpi/{id}(id=${dpis.dpiId})}">
                    <td th:text="${dpis.sensitivity}"></td>
                    <td th:text="${dpis.dpi}"></td>
                    <td th:text="${dpis.winRate} + '%'" ></td>
                    <td th:text="${dpis.hsRate} + '%'" ></td>
                    <input type="hidden" name="dpiId" th:value="${dpis.dpiId}">
                    <td><button type="submit">戦績登録</button></td>
                </form>
            </tr>
        </tbody>
    </table>
    
    <form method="get" th:action="@{/registEdpi}">
        <button>EDPI登録</button>
    </form>
    
</body>
</html>