<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>メイン画面です</h1>

    <form th:action="edpi" method="get">
        <button>EDPI登録</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>DPI</th>
                <th>感度</th>
                <th>試合数</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="i : ${data}">
                <td th:text="${i.Dpi}"></td>
                    <td th:text="${i.Sensitivity}"></td>
                <td th:text=0></td>
            </tr>
        </tbody>
    </table>

    
</body>
</html>